.search{
    display: flex;
    flex-direction: row;
    margin: 10px auto 0 auto;
    align-items: center;
    width: min-content;
}

.searchInput{
    background-color: var(--bg-painel);
    padding: 5px 5px 5px 0;
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    outline: 0;
    border: 2px solid transparent;
    color: var(--text);
    text-align: center;
}
.searchInput:focus {
    border: 2px solid var(--bg-border);
}

.BiSearch{
    cursor: pointer;
    display: inline;
    height: 25px;
    width: 25px;
    padding: 5px;
    color: var(--bg-border);
}

