.buttonTheme{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
    margin: 10px 15px;
    position: absolute;
}

.theme{
    width: 20px;
    height: 20px;
}